body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.resume {
    width: 80%;
    margin: 0 auto;
    background-color: #ec6db7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

h1 {
    margin: 5px 0;
    color: #1b48fa;
}

p {
    margin: 10px 0;
    color: #0dc4e9;
}

h2 {
    margin: 10px 0;
    color: #72b7d4;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
    color: #053a6ce3;
}

.contact-info,
.academic,
.internship,
.technical,
.project {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.contact-info h2,
.academic h2,
.internship h2,
.technical h2,
.project h2 {
    color: #bf3333;
}
